## Step#2 - Database Engineering

In [151]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [114]:
# Read csv file into dataframe
hawaii_measurements = pd.read_csv("Cleaned_csv/Clean_Hawaii_measurements.csv")
hawaii_stations = pd.read_csv("Cleaned_csv/Clean_Hawaii_stations.csv")

In [115]:
del hawaii_measurements['Unnamed: 0']
hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [116]:
hawaii_measurements.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [117]:
del hawaii_stations['Unnamed: 0']
hawaii_stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [118]:
hawaii_stations.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [140]:
# Create the connection engine
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [119]:
# create your Measurement class
class Measurements(Base):
    __tablename__ = 'measurements'
    id      = Column(Integer, primary_key = True)
    station = Column(String(255))
    date    = Column(String(255))
    prcp    = Column(Float)
    tobs    = Column(Integer)
    
    def __str__(self):
        print(self.name)
        
    def __repr__(self):
        print(self.name)

In [120]:
# create your Station class
class Stations(Base):
    __tablename__ = 'stations'
    id      = Column(Integer, primary_key = True)
    station = Column(String(255))
    name    = Column(String(255))
    latitude = Column(Float(255))
    longitude = Column(Float(255))
    elevation = Column(Float(255))
    
    def __str__(self):
        print(self.name)
        
    def __repr__(self):
        print(self.name)

In [139]:
Stations.__table__

Table('stations', MetaData(bind=None), Column('id', Integer(), table=<stations>, primary_key=True, nullable=False), Column('station', String(length=255), table=<stations>), Column('name', String(length=255), table=<stations>), Column('latitude', Float(precision=255), table=<stations>), Column('longitude', Float(precision=255), table=<stations>), Column('elevation', Float(precision=255), table=<stations>), schema=None)

In [130]:
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

In [141]:
# Use Orient='records' to create a list of data to write
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
### BEGIN SOLUTION
data_m = hawaii_measurements.to_dict(orient='records')
data_m[0]
### END SOLUTION

{'date': '2010-01-01', 'prcp': 0.08, 'station': 'USC00519397', 'tobs': 65}

In [145]:
# Use MetaData from SQLAlchemy to reflect the tables
### BEGIN SOLUTION
metadata = MetaData(bind=engine)
metadata.reflect()
### END SOLUTION

In [159]:
# Save the reference to the `demographics` table as a variable called `table`
### BEGIN SOLUTION
table = Table('measurements', metadata, autoload=True)
### END SOLUTION

In [160]:
conn.execute('SELECT * FROM measurements LIMIT 10').fetchall()

[]

In [158]:
x = session.query(Stations)

In [134]:
for y in x:
  print(y.latitude)

In [135]:
x